<hello name="{{ name }}"></hello>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="test">
    <div class="topBox">
      <div>
        <h4>
          &nbsp;Ipsum 1000&nbsp; <br />
          <h6 >&nbsp; who seeks after it and wants to have it &nbsp;</h6>
        </h4>

        <div>
          <input type="search" />
        </div>
      </div>
    </div>
    <div>
      absc
    </div>
    <div class="bottomBox">
      ooooooooo
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavcontent"
    >testttttttttttttttttttttt</mat-sidenav-content
  >
</mat-sidenav-container>
